@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container,
button {
  font-family: "Red Hat Display", sans-serif;
}

.btn {
  height: 56px;
  padding: 16px 40px;
  color: hsl(0, 0%, 98%);
  border: none;
  border-radius: 29px;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  transition: 0.5s ease-in;
  cursor: pointer;
}
.btn--cyan {
  background: hsl(192, 37%, 48%);
}
.btn--cyan:hover {
  background: hsl(192, 54%, 54%);
}
.btn--cyan .btn--version {
  color: hsl(192, 90%, 77%);
}
.btn--purple {
  background: hsl(268, 34%, 53%);
}
.btn--purple:hover {
  background: hsl(268, 55%, 71%);
}
.btn--purple .btn--version {
  color: hsl(268, 100%, 86%);
}

.separator {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 56px;
  color: hsl(240, 10%, 57%);
  line-height: 150%;
  border-radius: 50%;
  border: 1px solid hsl(240, 18%, 85%);
  background: hsl(0, 0%, 98%);
  font-weight: 900;
}
.separator::before {
  content: "";
  position: absolute;
  top: -80px;
  left: calc(50% - 0.5px);
  display: block;
  height: 80px;
  width: 1px;
  background: hsl(240, 18%, 85%);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
}
.gallery__img {
  display: inline-block;
  flex: 1 1 calc(50% - 8px);
  max-width: calc(50% - 8px);
  border-radius: 8px;
}

@media (min-width: 762px) {
  .gallery {
    gap: 24px;
  }
  .gallery__img {
    flex: 1 1 calc(25% - 18px);
    max-width: calc(25% - 18px);
  }
}
@media (min-width: 1400px) {
  .gallery {
    gap: 32px;
  }
  .gallery__img {
    flex: 1 1 calc(25% - 24px);
    max-width: calc(25% - 24px);
  }
}
.meetings__intro {
  margin-bottom: 16px;
  color: hsl(192, 37%, 48%);
  font-size: 12px;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
}
.meetings__title {
  max-width: 311px;
  margin: 0 auto 32px;
  color: hsl(240, 21%, 20%);
  font-size: 32px;
  font-weight: 900;
  line-height: 110%;
  text-align: center;
}
.meetings__text {
  max-width: 311px;
  color: hsl(240, 10%, 57%);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  text-align: center;
}

@media (min-width: 762px) {
  .meetings__intro {
    font-size: 14.04px;
  }
  .meetings__title {
    max-width: 448.3px;
    font-size: 36px;
  }
  .meetings__text {
    max-width: 504px;
  }
}
@media (min-width: 1400px) {
  .meetings__intro {
    font-size: 16px;
  }
  .meetings__title {
    font-size: 40px;
  }
  .meetings__text {
    max-width: 544px;
    font-size: 18px;
  }
}
.container {
  background: hsl(0, 0%, 98%);
}

.header {
  width: 100%;
  margin-bottom: 144px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.header__logo {
  display: inline-block;
  height: 27px;
  width: 118px;
  margin-top: 40px;
  object-fit: cover;
}
.header__hero {
  display: inline-block;
  height: 160px;
  width: 433px;
  margin: 64px 0 40px;
}
.header__hero--right {
  display: none;
}
.header__title {
  max-width: 311px;
  margin: 0 auto;
  color: hsl(240, 21%, 20%);
  font-weight: 900;
  font-size: 40px;
  text-align: center;
  line-height: 110%;
}
.header__text {
  max-width: 311px;
  margin: 24px auto;
  color: hsl(240, 10%, 57%);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  text-align: center;
}
.header__actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 9.33%;
}
.content__gallery {
  margin: 64px 0;
}
.content .meetings {
  margin-bottom: 172px;
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./assets/tablet/image-footer.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer::after {
  content: "";
  display: inline-block;
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: hsl(192, 37%, 48%);
  opacity: 0.9;
}
.footer__separator {
  position: relative;
  z-index: 3;
  top: 0;
  transform: translateY(-50%);
}
.footer__title {
  position: relative;
  z-index: 3;
  max-width: 311px;
  margin-top: 40px;
  color: hsl(0, 0%, 98%);
  font-size: 32px;
  font-weight: 900;
  line-height: 110%;
  text-align: center;
}
.footer__text {
  position: relative;
  z-index: 3;
  max-width: 311px;
  margin-top: 24px;
  color: hsl(0, 0%, 98%);
  line-height: 150%;
  font-weight: 500;
  text-align: center;
}
.footer__btn {
  position: relative;
  z-index: 3;
  margin: 24px 0 64px;
}

@media (min-width: 762px) {
  .header {
    margin-bottom: 200px;
  }
  .header__hero {
    height: 303px;
    width: 820px;
  }
  .header__title {
    max-width: 448.3px;
    font-size: 48px;
  }
  .header__text {
    max-width: 448.3px;
  }
  .header__actions {
    flex-direction: row;
  }
  .content {
    padding: 0 5.73%;
  }
  .content__gallery {
    margin: 64px 0;
  }
  .content .meetings {
    margin-bottom: 172px;
  }
  .footer {
    position: relative;
  }
  .footer__title {
    max-width: 504px;
    font-size: 36px;
  }
  .footer__text {
    max-width: 504px;
  }
}
@media (min-width: 1400px) {
  .header {
    position: relative;
    margin-bottom: 120px;
  }
  .header__logo {
    margin: 80px 0;
  }
  .header__hero--left, .header__hero--right {
    position: absolute;
    height: 303px;
    width: 394px;
  }
  .header__hero--left {
    top: 64px;
    left: -26px;
  }
  .header__hero--right {
    display: inline-block;
    top: 121px;
    right: -26px;
  }
  .header__title {
    max-width: 448.3px;
    font-size: 64px;
  }
  .header__text {
    max-width: 448.3px;
    margin: 32px auto;
    font-size: 18px;
  }
  .header__actions {
    margin-bottom: 104px;
  }
  .content {
    padding: 0 11.11%;
  }
  .content .meetings {
    margin-bottom: 180px;
  }
  .footer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    background-image: url("./assets/desktop/image-footer.jpg");
    padding: 112px 11.11%;
  }
  .footer__separator {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .footer__title {
    max-width: 448.3px;
    margin-top: 0;
    font-size: 40px;
    text-align: start;
  }
  .footer__text {
    max-width: 355px;
    margin-top: 0;
    font-size: 18px;
    text-align: start;
  }
  .footer__btn {
    margin: 0 0 0 64px;
  }
}
@media (min-width: 1500px) {
  .header {
    max-width: 1492px;
    margin: 0 auto 120px;
  }
  .header__hero--left {
    left: 0;
  }
  .header__hero--right {
    right: 0;
  }
  .content {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
  }
}

/*# sourceMappingURL=main.css.map */
