.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: $space-16;

  &__img {
    display: inline-block;
    flex: 1 1 calc(50% - 8px);
    max-width: calc(50% - 8px);
    border-radius: 8px;
  }
}
