.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: $space-16;

  &__img {
    display: inline-block;
    flex: 1 1 calc(50% - 8px);
    max-width: calc(50% - 8px);
    border-radius: 8px;
  }
}

@media (min-width: $tablet) {
  .gallery {
    gap: $space-24;

    &__img {
      flex: 1 1 calc(25% - ($space-24 * 0.75));
      max-width: calc(25% - ($space-24 * 0.75));
    }
  }
}
